*
!.gitignore
!README.OLD.md
!*.c
!*.cc
!*.cpp
!*.h
!*.yml
!*/
!.github
!.github/**
!.github/workflows
!.github/workflows/*
!builds/*
!vice/build/mingw/docker/*
!vice/build/github-actions/*
_changes-todo
_changes-todo/*
!vice/src/arch/shared/hwsiddrv/usbsid-driver
!vice/src/arch/shared/hwsiddrv/usbsid-driver/*.cpp
!vice/src/arch/shared/hwsiddrv/usbsid-driver/*.h
!vice/src/lib/libusbsiddrv
!vice/src/lib/libusbsiddrv/*
